:root {
    --black-color: #070917;
    --tomato-color: #DA722C;
    --light-green-color: #057ADA;
    --smoky-white-color: #E8F7FB;
    --dark-green-color: #023047;
    --light-gray-color: #6F7DFB;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    padding: 0.75em 2em;
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 2em;
}

body {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    font-family: 'Poppins', sans-serif;
}

.wrappar {
    min-height: 200px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: relative;
    margin-bottom: -8px;
}

/* mobile menubar start */

.header .mobile-menu .menu-wrappar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.625rem;
    color: #fff;
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .5s ease;
    margin-top: 7px;
}

.header .mobile-menu .menu-wrappar.scroll {
    padding: 1.563rem;
    margin-top: 0;
    z-index: 100;
    /* background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%); */
    background-color: black;
}

.header .mobile-menu .menu-wrappar p {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 2.25rem;
    font-weight: 900;
}

.header .mobile-menu .menu-wrappar i {
    font-size: 2.25rem;
}

.header .mobile-menu .ul-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    list-style: none;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: var(--black-color);
    top: 0px;

    padding-top: 30px;
    left: -100%;
    font-size: 1.5rem;
    z-index: 101;
    transition: all .5s linear;
}


.header .mobile-menu .ul-list a {
    text-decoration: none;
    display: inline-block;
    color: #FFF;
    font-weight: bold;
}

.header .mobile-menu .ul-list li:first-child {
    width: 100%;
    color: #FFF;
    font-size: 2.18rem;
    text-align: end;
    padding-right: 1.5em;
    margin-bottom: 2.5em;
}

.header .mobile-menu .ul-list li:last-child {
    background-color: var(--tomato-color);
    padding: 0.75em 1.4em;
    border-radius: 1.5em;
}

/* mobile menubar end */

/* desktop menubar start*/

.header .desktop-menu {
    display: none;
}

/* header contet */
.header .wrappar .header-content {
    padding-top: 9.25em;
}

/* desktop menubar end */

.header .header-content .top-content h1 {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    white-space: pre-line;
}

.header .header-content .top-content p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 200%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn.btn-tomato {
    background: var(--tomato-color);
    display: flex;
    width: max-content;
    gap: 0.625em;
    align-items: center;
}

.btn.enrol-icon::before {
    content: url("../images/logo/enrol-icon.svg");
}

.header .header-content .bottom-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.header .header-content .bottom-content .card-container {
    display: flex;
    flex-direction: column;
    /* gap: 6rem;  */
    gap: 2rem;
    /* 3.5em */
}

.header .header-content .bottom-content .card {
    position: relative;
    height: 90px;
}

.header .header-content .bottom-content .card .content {
    width: max-content;
    background-color: var(--smoky-white-color);
    padding: 0.375em 1.875em 0.813em 1.563em;
    text-align: center;
    border-radius: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.header .header-content .bottom-content .card .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 81px;
    width: 190px;
    background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
    border-radius: 1.5em;
    z-index: 1;
}

.header .header-content .bottom-content .card:last-child .bg {
    width: 165px;
    height: 90px;
}

.header .header-content .bottom-content h3 {
    color: var(--dark-green-color);
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 125%;
}

.header .header-content .bottom-content h3.rating {
    display: flex;
    align-items: center;
    gap: 0.25em;
    justify-content: center;
}

.header .header-content .bottom-content h3.rating::after {
    content: url("../images/logo/emojione_star.svg");
}

.header .header-content .bottom-content p {
    color: var(--dark-green-color);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 125%;
}

.header .header-content .bottom-content .right {
    overflow: hidden;
    transform: translateX(11px);
}

.header .header-content .bottom-content img {
    height: 320px;
    transform: translateX(10px);
}


/* feedback */

.feedback {
    background: #FFF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.feedback .wrappar {
    display: flex;
    flex-direction: column;
}


.feedback .feedback-top h1 {
    color: #023047;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
}

.feedback .feedback-top .p-top {
    margin-top: 1em;
    /* margin-bottom: 0.25em; */
}

.feedback .feedback-top p {
    color: #023047;
    font-weight: 400;
    display: inline;
}

.feedback .feedback-top .p-bottom {
    margin-bottom: 2.5em;
}

.feedback .feedback-bottom {
    position: relative;
    min-height: 600px;
}


.feedback .feedback-bottom .single-card {
    border-radius: 2rem;
    background: #FFF;
    box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.20);
}

.feedback .feedback-bottom .single-card:first-child {
    margin-bottom: 2.5em;
}

.feedback .feedback-bottom .single-card-top h2 {
    color: #FFF;
    padding: 2em 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-weight: 900;
}

.feedback .feedback-bottom .single-card-top h2.bg-blue {
    border-radius: 24px;
    background: #6F7DFB;
}

.feedback .feedback-bottom .single-card-top h2.bg-tomato {
    border-radius: 24px;
    background: #DA722C;
}

.feedback .feedback-bottom .single-card-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0.7em 2em;
    align-items: center;
    margin-top: -1.5rem;
}

.feedback .feedback-bottom .single-card-bottom .name {
    color: #023047;
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-weight: 900;
}

.feedback .feedback-bottom .single-card-bottom .designation {
    color: #023047;
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}

.feedback .feedback-bottom .single-card-bottom img {
    height: 120px;
    width: 120px;
    border-radius: 120px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    object-fit: cover;
    object-position: center;
}

.feedback .feedback-bottom .card-container {
    z-index: 10;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    max-width: 934px;
}

.feedback .feedback-bottom .vertiacl-line {
    height: 575px;
    width: 28px;
    border-radius: 24px;
    background: #023047;
    position: absolute;
    top: 0;
    left: 80px;
    z-index: 1;
}

.feedback .wrappar .btn-container.desktop {
    display: flex;
    justify-content: end;
    margin-top: 0;
    display: none;
}

.feedback .wrappar .btn-container.mobile {
    display: flex;
    justify-content: end;
    margin-top: 0;
    display: inline-block;
}


.feedback .wrappar button {
    padding: 1em 2em;
    border-radius: 24px;
    background: #DA722C;
    color: #FFF;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-size: 1.125rem;
}

/* feedback-end */

/* our-courses */

.our-courses {
    padding-top: 65px;
    padding-bottom: 65px;
}

.our-courses .our-course-wrapper>h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.875rem;
    font-weight: 900;
    margin-bottom: 1.8em;
}

.our-courses .single-course-container {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.our-courses .single-course {
    border-radius: 24px;
    background: #FFF;
}

.our-courses .single-course .img-container img {
    max-width: 100%;
    border-radius: 24px;
    object-fit: cover;
    object-position: center;
}

.our-courses .single-course .text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.our-courses .single-course .text-container a {
    color: #023047;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 150%;
    white-space: pre-line;
    text-decoration: none;
}

.our-courses .single-course .text-container p {
    color: #023047;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    line-height: 150%;
    white-space: nowrap;
}

.our-courses .single-course .wrappar .horizontal-line {
    height: 8px;
    border-radius: 24px;
    background: #023047;
}

.our-courses .btn-wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 3.12em auto 0;
    display: grid;
}

.our-courses .btn-wrapper a {
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    padding: 0.75em 2em;
    border-radius: 2em;
    background: #DA722C;
    justify-self: end;
    font-size: 1rem;
}

.get-our-app {
    background-color: white;
    padding-top: 6.25em;
    padding-bottom: 6.25em;
}


.get-our-app .top-app h2 {
    color: #023047;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.875rem;
    font-weight: 900;
    line-height: 120%;
}

.get-our-app .top-app p {
    color: #023047;
    text-align: center;
    font-weight: 400;
    line-height: 200%;
    margin-top: 0.62em;
}

.get-our-app .bottom-app {
    margin-top: 1.06em;
}

.get-our-app .bottom-app .bottom-app-container {
    display: flex;
    flex-direction: column;
    gap: 1.62em;
    align-items: center;

}

.get-our-app .bottom-app .single-link {
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.88em;
    padding: 0.75em 1.94em;
    width: 310px;
    text-decoration: none;
}

.get-our-app .bottom-app .single-link h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 200%;
}

/* our courses end */

/* footer */
.footer {
    background: #070917;
    padding-top: 3.75em;
    padding-bottom: 4.375em;
}

.footer .wrappar .link-section {
    display: grid;
    justify-content: center;
    text-align: center;
    row-gap: 2.5em;
}

.footer .single-link-section .title p {
    color: #DA722C;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 200%;
    margin-bottom: 0.875em;
}

.footer .single-link-section ul {
    list-style: none;
}

.footer .single-link-section ul li {
    margin-bottom: 0.563em;
}

.footer .single-link-section ul a,
.footer .single-link-section.three .other-link-top p {
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 200%;
}

.footer .single-link-section.three .other-link-top .icon-container {
    margin-top: 1em;
}

.footer .single-link-section.three .other-link-top .icon-container a i {
    color: #fff;
    font-size: 1.5rem;
}

.footer .single-link-section.three .other-link-top .icon-container a:first-child i {
    margin-right: 1em;
}

.footer .single-link-section.three .other-link-bottom {
    margin-top: 1.625em;
}

.footer .single-link-section.three .other-link-bottom input {
    width: 100%;
    border-radius: 8px;
    background: #FFF;
    /* padding: 0.25em 1.875em; */
    padding: 0.5em 1.875em;
    color: #000;
    font-weight: 400;
    border: none;
}

.footer .single-link-section.three .other-link-bottom input:focus {
    outline: none;
}

.footer .single-link-section.three .other-link-bottom button {
    border-radius: 8px;
    background: #023047;
    border: none;
    cursor: pointer;
    color: #FFF;
    /* padding: 0.125em 1.75em; */
    padding: 0.4em 1.75em;
    font-weight: 400;
    margin-top: 0.938em;
}

.footer .wrappar .footer-text {
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 200%;
    margin-top: 2.5em;
    text-align: center;
}


/* footer end */

@media(min-width: 450px) {
    .header .header-content .bottom-content img {
        height: 480px;
        transform: translateX(10px);
    }

    .feedback .feedback-bottom .single-card-top h2.bg-blue {
        white-space: pre-line;
    }
}

@media(min-width: 578px) {
    .feedback .feedback-bottom .single-card-top h2.bg-blue {
        white-space: normal;
    }

    .feedback .feedback-bottom .vertiacl-line {
        height: 551 px;
    }
}


@media(min-width: 720px) {

    .header .header-content .bottom-content {
        transform: translateX(22px);
    }

    .header .header-content .bottom-content .card-container {
        transform: translateX(15px);
    }

    .header .header-content .bottom-content img {
        height: 500px;
        transform: translateX(17px);
    }

    .header .header-content .top-content h1 {
        font-size: 3.125rem;
    }


    .our-courses .our-course-wrapper {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .our-courses .our-course-wrapper>h1 {
        font-size: 2.5rem;
    }

    .our-courses .single-course .text-container a {
        font-size: 1.875rem;
    }

    .our-courses .single-course .text-container p {
        font-size: 1rem;
    }

    .get-our-app .top-app h2 {
        font-size: 2.5rem;
    }

    .get-our-app .top-app p {
        margin-top: 0.313em;
    }

    .get-our-app .bottom-app {
        margin-top: 1.688em;
    }

    .get-our-app .bottom-app .bottom-app-container {
        flex-direction: row;
        gap: 1.875rem;
        width: min-content;
        margin: 0 auto;
    }

}

@media(min-width: 820px) {

    .wrappar {
        width: 80%;
    }

    .header .header-content .bottom-content .card-container {
        transform: translateX(25px);
    }

    .header .header-content .bottom-content .card .bg {
        height: 93px;
        width: 208px;
    }

    .header .header-content .bottom-content h3 {
        font-size: 2.25rem;
    }

    .header .header-content .bottom-content p {
        font-size: 1rem;
    }

    .feedback .feedback-bottom .single-card-bottom .name {
        font-size: 1.5rem;
    }

    .feedback .feedback-bottom .single-card-bottom .designation {
        font-size: 1.125rem;
    }

    .header .header-content .bottom-content .card:last-child .bg {
        width: 181px;
        height: 95px;
    }

    .header .header-content .bottom-content h3 {
        font-size: 2.25rem;
    }

    .header .header-content .bottom-content p {
        font-size: 1rem;
    }

    .header .header-content .bottom-content .right {
        transform: translateX(17px);
    }

    .header .header-content .bottom-content img {
        height: 550px;
        transform: translateX(17px);
    }

    .our-courses .single-course {
        width: 89%;
        margin: 0 auto;
    }

    .our-courses .btn-wrapper {
        width: 89%;
    }

    .footer .wrappar .link-section {
        grid-template-columns: 1fr 1fr;
        text-align: start;
        row-gap: 2.8em;
    }


    .footer .wrappar .link-section .single-link-section.three {
        grid-column: span 2;
    } 

    .footer .single-link-section.three .other-link-bottom form {
        position: relative;
    }

    .footer .single-link-section.three .other-link-bottom input {
        padding-right: 9em;
        position: absolute;
    }


    .footer .single-link-section.three .other-link-bottom button {
        position: absolute;
        top: -11px;
        /* left: 408px; */
        right: 3px;
    }

    .footer .wrappar .link-section .single-link-section ul,
    .footer .wrappar .link-section .single-link-section.three .other-link {
        margin-left: 1.5em;
    }

    .footer .wrappar .footer-text {
        text-align: start;
        margin-top: 4em;
    }
}


@media(min-width: 1050px) {
    .header .mobile-menu {
        display: none;
    }

    .header .desktop-menu {
        display: inline-block;
    }

    .header .desktop-menu .menu-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 10px;
        left: 0;
        padding: 0px 25px;
        transition: all 0.9s ease;
    }

    .header .desktop-menu .menu-container.scroll {
        background-color: #000;
        z-index: 100;
        top: 0px;
    }


    .header .desktop-menu p {
        color: white;
        padding: 1rem 0rem;
        font-size: 2.5rem;
        font-weight: bolder;
    }


    .header .desktop-menu p span {
        color: rgb(223, 168, 132);
    }

    .header .desktop-menu ul {
        list-style: none;
        display: flex;
    }

    .header .desktop-menu ul li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        padding: 1rem 2rem;
        background-color: transparent;
        display: inline-block;
        transition: all .5s linear;
        border-radius: 2rem;
    }


    .header .desktop-menu ul li:last-child {
        border-radius: 2rem;
        background: #023047;
    }

    .header .desktop-menu ul li a:hover {
        background-color: rgb(140, 93, 187);
        color: #f1e8e8;
    }

    .header .wrappar .header-content {
        display: flex;
    }

    .header .header-content .bottom-content .card-container {
        gap: 8rem;
    }

    .header .wrappar .header-content .top-content {
        width: 40%;
    }

    .header .wrappar .header-content .bottom-content {
        width: 60%;
    }

    .header .header-content .bottom-content .card:last-child {
        margin-left: -30px;
    }

    /* new code for feedback */

    .feedback .wrappar .btn-container.mobile {
        display: none;
    }

    .feedback .wrappar .btn-container.desktop {
        display: inline-block;
        margin-top: 0;
    }

    .feedback .wrappar {
        flex-direction: row;
        gap: 100px;
        align-items: center;
    }

    .feedback .feedback-top {
        order: 2;
        width: 55%;
    }

    .feedback .wrappar .feedback-bottom {
        order: 1;
        width: 45%;
    }

    .feedback .feedback-top h1 {
        font-size: 3.75rem;
    }

    .feedback .feedback-top p {
        display: block;
        font-size: 1.1rem;
    }

    .feedback .feedback-top p.p-top {
        margin-bottom: 0.25em;
    }

    .feedback .feedback-bottom .vertiacl-line {
        height: 570px;
    }


    .feedback .feedback-bottom .single-card:first-child {
        margin-bottom: 3.125em;
    }


    .feedback .feedback-bottom .single-card:last-child {
        transform: translateX(2rem);
    }

    .our-courses .single-course-container {
        flex-direction: row;
    }

    .our-courses .single-course .wrappar {
        height: 100%;
    }

    .our-courses .single-course {
        width: 50%;
    }

    .our-courses .single-course .img-container img {
        height: 260px;
        width: 100%;
    }

    .our-courses .our-course-wrapper>h1 {
        font-size: 3.75rem;
    }

    .our-courses .btn-wrapper a {
        font-size: 1.125rem;
    }

    .get-our-app .top-app h2 {
        font-size: 3.75rem;
    }

    .get-our-app .bottom-app {
        margin-top: 2.813em;
    }

}

@media(min-width: 1100px) {

    .header .wrappar .header-content {
        display: flex;
    }

    .header .wrappar .header-content .top-content {
        width: 45%;
    }

    .header .wrappar .header-content .bottom-content {
        width: 55%;
    }

    .our-courses .single-course .text-container {
        height: 90px;
    }

    .footer .wrappar .link-section {
        grid-template-columns: 1fr 1fr 2fr;
    }

    .footer .wrappar .link-section .single-link-section.three {
        grid-column: span 1;
    }

    .footer .wrappar .footer-text {
        margin-top: 3em;
    }

}